@import url("https://fonts.googleapis.com/css2?family=Archivo+Black:wght@400&family=Merriweather+Sans:wght@300;400&display=swap");

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.textPlane {
  display: inline-block;
  /* apply negative margins and padding to avoid chars from being cropped */
  margin: -1em;
  padding: 1em;
  /* hide the original text content */
  opacity: 0;
}

.contentH1 .textPlane {
  font-size: 10vw;
}

.contentH2 .textPlane {
  font-size: 5vw;
}

.textBlock .textPlane,
.scrollBlock .textPlane,
.lipsumBlock .textPlane {
  font-size: 2.5vw;
}

.content {
  width: 100%;
  padding: 2.5vw;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.contentH1 {
  text-align: center;
  margin: 10vh 0;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  line-height: 1;
}

.contentH2 {
  width: 50%;
  margin: 15vh 0 15vh 50%;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.textBlock {
  width: 50%;
  margin: 15vh 0;
}

.scrollBlock {
  width: 50%;
  margin: 15vh 0;
  margin-left: 25%;
}

.lipsumBlock {
  width: 50%;
  margin: 15vh 0;
  margin-left: 50%;
}
